.profile__info {
    display: grid;
    grid-template-columns: 1fr 24px;
    align-self: center;
    align-items: center;
    gap: 6px 18px;
    max-width: 336px;
  }
  
  @media screen and (max-width: 700px) {
    .profile__info {
      grid-template-columns: 1fr 18px;
      margin-top: 26px;
      gap: 8px 10px;
    }
  }