.auth {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    height: 79vh;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .auth {
        max-width: 260px;
    }
}