.profile__info-edit {
    width: 24px;
    height: 24px;
    border: 1px solid #FFF;
    background-color: transparent;
    align-self: flex-end;
    background-image: url(../../../images/pencil.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 10px;
    transition: all 0.2s linear;
}

.profile__info-edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile__info-edit {
        width: 18px;
        height: 18px;
        background-size: 7.5px;
        margin-bottom: 6px;
    }
}